<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DirectoryHostname" value="example.com"/>
    <add key="DirectoryPort" value="389"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="SearchBase" value="ou=Example,o=ORG,c=AU"/>
    <add key="SearchFilter" value="userPrincipalName="/>
  </appSettings>
</configuration>
